<div class="row justify-content-md-center" id="navbar">
  <div class="col-lg">
    <ul class="nav nav-fill">
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['/create-character']" id="createCharacters" routerLinkActive="active-link" >Create Character</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['']" id="characters" style="">Characters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['']" id="profile" style="">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['']" id="logout" style="">Logout</a>
      </li>
    </ul>
  </div>
</div>
