<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
    <p class="h4">{{character.name}}, {{character.dndClass}} {{character.race}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
      </div>
      <input type="text" class="form-control" required [(ngModel)]="character.name" name="name">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">Class</span>
      </div>
      <input type="text" class="form-control" [value]="character.dndClass" disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">Race</span>
      </div>
      <input type="text" class="form-control" [value]="character.race" disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2 text-center">
    <button class="btn btn-primary" (click)="generateCharacter()">Generate Random Character</button>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2 text-center">
    <p>Lazy bit because of studying/bed.</p>
    <p>Alignment {{character.alignment}}</p>
    <p>Hit Die {{hitDie}}</p>
    <p>Random Proficiencies {{character.proficiencies}}</p>
    <p>Class Proficiencies {{proficiencies}}</p>
    <p>Subclasses {{subclasses}}</p>
  </div>
</div>
