<div class="row">
  <div class="col-md-6 offset-md-3 text-center">
    <p class="h4">{{currentCharacter.name}}, {{currentCharacter.dndClass}} {{currentCharacter.race}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
      </div>
      <input type="text" class="form-control" required [(ngModel)]="currentCharacter.name" name="name">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">Class</span>
      </div>
      <input type="text" class="form-control" [value]="currentCharacter.dndClass" disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">Race</span>
      </div>
      <input type="text" class="form-control" [value]="currentCharacter.race" disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">Alignment</span>
      </div>
      <input type="text" class="form-control" [value]="currentCharacter.alignment" disabled>
    </div>
  </div>
</div>
<div class="row" *ngFor="let proficiency of currentCharacter.proficiencies">
  <div class="col-md-6 offset-md-3">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">Proficiency</span>
      </div>
      <input type="text" class="form-control" [value]="proficiency" disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3 text-center">
    <button class="btn btn-warning" (click)="saveCharacter()" [(ngModel)]="formClickable" name="formClickable">Save Character</button>
    <button class="btn btn-primary" (click)="generateCharacter()" [(ngModel)]="formClickable" name="formClickable">Generate Random Character</button>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3 text-center">
    <p class="created-character" *ngIf="characterSaved">Character Saved Successfully.</p>
    <p class="failed-character" *ngIf="failedCharacterSave">Failed to save Character.</p>
    <p class="saving-character" *ngIf="attemptingCharacterSave">Attempting to save character...</p>
  </div>
</div>
