<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
    <p class="h2">DnD Character Creator</p>
    <p class="h5">Login or register to access character creator.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
    <p class="h6" *ngIf="feedback">{{feedbackText}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="username-label">Username</span>
      </div>
      <input type="text" class="form-control" required [(ngModel)]="user.username" name="username" placeholder="Enter username...">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">Password</span>
      </div>
      <input type="password" class="form-control" required [(ngModel)]="user.password" name="password" placeholder="Enter password...">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
    <button type="submit" class="btn btn-primary" (click)="registerUser()">Register new Account</button>
    <button type="submit" class="btn btn-success" (click)="submitLogin()">Click here to Login</button>
  </div>
</div>
<div class="text-center">
  <p>{{ user | json }}</p>
</div>
