<div class="row justify-content-md-center" id="navbar">
  <div class="col-lg">
    <ul class="nav nav-fill">
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['']" id="createCharacters">Create Character</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['']" id="characters">Characters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['']" id="profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['']" id="logout">Logout</a>
      </li>
    </ul>
  </div>
</div>
