<div class="row">
  <div class="col-md-8 offset-md-2 text-center">
    <p class="created-character" *ngIf="deleteCharacterSuccess">Deleted {{deletedCharacter.name}} a {{deletedCharacter.alignment}} {{deletedCharacter.race}} {{deletedCharacter.dndClass}}, Successfully.</p>
    <p class="failed-character" *ngIf="deleteCharacterFailed">Failed to delete {{deletedCharacter.name}} a {{deletedCharacter.alignment}} {{deletedCharacter.race}} {{deletedCharacter.dndClass}}.</p>
  </div>
</div>
<div class="col-md-8 offset-md-2">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let character of characters">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{character.name}} a {{character.alignment}} {{character.race}} {{character.dndClass}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="table">
        <tbody>
        <tr>
          <td class="label">Name</td>
          <td class="value">{{character.name}}</td>
        </tr>
        <tr>
          <td class="label">Class</td>
          <td class="value">{{character.dndClass}}</td>
        </tr>
        <tr>
          <td class="label">Race</td>
          <td class="value">{{character.race}}</td>
        </tr>
        <tr>
          <td class="label">Alignment</td>
          <td class="value">{{character.alignment}}</td>
        </tr>
        <tr *ngFor="let proficiency of character.proficiencies">
          <td class="label">Proficiency</td>
          <td class="value">{{proficiency}}</td>
        </tr>
        <tr>
          <td class="delete" align="center" colspan="2">
            <button class="btn btn-danger btn-block reduceSize" (click)="deleteCharacter(character)">Delete {{character.name}}</button>
          </td>
        </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>

