span {
  float: left;
  width: 120px;
}

input[type="text"] {
}

button {
  font-size: 24px;
  font-family: Arial;
}

.scrollable {
  height: 70%;
  overflow-y: scroll;
}

.input-group {
  width: 75%;
}

.created-character {
  color: blue;
}

.failed-character {
  color: red;
}

.reduceSize {
  width: 75%;
  align-content: center;
}

.label {
  width: 120px;
  background-color: lightgray;
  font-size: 20px;
}

.value {
  font-size: 20px;
}

mat-panel-title {
  font-size: 24px;
}

.delete {
  align-content: center;
}
