<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
    <img src="../../../DnDGui/assets/d20.png" height="200" width="240"/>
    <p class="h2">DnD & Me</p>
    <p class="h6">
      Welcome to the DnD random character generator.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4 justify-content-center">
    <ul>
      <li>Generate and save random characters.</li>
      <li>Promotes character diversity for players wanting to try something new.</li>
      <li>Save your dungeon master some time with a pre-configured character.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
    <button type="submit" class="btn btn-primary" [routerLink]="['/login']">Click here to Access</button>
  </div>
</div>
